<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="far fa-smile fa-3x check"></i>
    <h1 class="display-3">Logged in Successfully</h1>
    <hr>
  </div>
</div>

<%- include('partials/footer') %>
